database_uri=sqlite:///API_DB.db?check_same_thread=False
# минуты
jwt_access_token_ttl=10
jwt_refresh_token_ttl=43800

redis_host=redis
redis_port=6379
redis_password=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81

redis_rl_host=redis
redis_rl_port=4242
redis_rl_password=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81

auth_db_host=127.0.0.1
auth_db_port=5432
auth_db_user=app
auth_db_password=123qwe
auth_db_database=auth_data

FLASK_APP=src.app